In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing as ps
import numpy as np
import datetime

C:\Users\ADMH2\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

Lo primero que haremos será enfocarnos en la codificación de los datos

In [2]:
df = pd.read_csv('../BD_Limpia.csv')

C:\Users\ADMH2\AppData\Local\Temp\ipykernel_36068\3697060408.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../BD_Limpia.csv')

Para ello primero vamos a ver cuales columnas hay que codificar (Aquellas que no sean numericas)
Para esto tomaremos las que son tipo "object" ya que estas pueden ser strings, datetime, etc, el resto podrán ser flotantes, booleanos u otro tipo de valor que no es necesario codificar

In [3]:
df2 = df.copy()
j = 0
for i in [i for i in df.columns.tolist()]:
    if df[i].dtype == object:
        print(i)
        j+=1
print(j)

DESCRIPCION
Mes
Tipo Egreso (INTERNACION)
Paciente Modalidad Contrato
Paciente Regimen Afiliacion
Urg Fecha Ingreso
Urg Fecha Triaje
Urg Fecha Consulta F3
Profesional Especialidad
Dx Principal Tipo
Dx Principal Cod
Dx Principal Cod.1
Dx Relacionado1 Cod
Dx Relacionado2 Cod
Dx Relacionado3 Cod
Unidad
Grupo Edad
Paciente Sexo
Clasificacion 1 Triaje
Enfermeria
Ubicacion  Urgencias
Causa Externa  (Riesgo)
Modalidad Atencion
Ubicación Triaje
Tiempo Duracion Diligenciamiento F3
Triaje Re-clasificado
Grupo Poblacional
Pertenencia Etnica
ALTO COSTO
28

Ahora tomaremos uno por uno cada valor entregado aqui y se revisará su posible codificación

In [4]:
df['DESCRIPCION'].unique()

array(['URGENCIAS ADULTO', 'URGENCIAS PEDIATRICAS'], dtype=object)

In [5]:
df2['DESCRIPCION'].replace({'URGENCIAS ADULTO': 1, 'URGENCIAS PEDIATRICAS': 0}, inplace=True)

C:\Users\ADMH2\AppData\Local\Temp\ipykernel_36068\1354844995.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['DESCRIPCION'].replace({'URGENCIAS ADULTO': 1, 'URGENCIAS PEDIATRICAS': 0}, inplace=True)
C:\Users\ADMH2\AppData\Local\Temp\ipykernel_36068\1354844995.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2['DESCRIPCION'].replace({'URGENCIAS ADULTO': 1, 'URGENCIAS PEDIATRICAS': 0}, inplace=True)

In [6]:
df['Tipo Egreso (INTERNACION)'].unique()

array(['No hospitalizacion', 'Hospitalizacion'], dtype=object)

In [7]:
df2['Tipo Egreso (INTERNACION)'].replace({'No hospitalizacion': 1, 'Hospitalizacion': 0}, inplace=True)

C:\Users\ADMH2\AppData\Local\Temp\ipykernel_36068\673998892.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['Tipo Egreso (INTERNACION)'].replace({'No hospitalizacion': 1, 'Hospitalizacion': 0}, inplace=True)
C:\Users\ADMH2\AppData\Local\Temp\ipykernel_36068\673998892.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2['Tipo Egreso (INTERNACION)'].replace({'No hospitalizacion': 1, 'Hospitalizacion': 0}, inplace=True)

In [8]:
df["Modalidad Atencion"].unique() # Remitido y remitidos son lo mismo

array(['URGENCIAS', 'REMITIDO', 'REMITIDOS'], dtype=object)

In [9]:
df2["Modalidad Atencion"].replace({'URGENCIAS': 1, 'REMITIDO': 0, 'REMITIDOS': 0}, inplace=True)

C:\Users\ADMH2\AppData\Local\Temp\ipykernel_36068\3878965590.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2["Modalidad Atencion"].replace({'URGENCIAS': 1, 'REMITIDO': 0, 'REMITIDOS': 0}, inplace=True)
C:\Users\ADMH2\AppData\Local\Temp\ipykernel_36068\3878965590.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2["Modalidad Atencion"].replace({'URGENCIAS': 1, 'REMITIDO': 0, 'REMITIDOS': 0}, inplace=True)

In [10]:
len(df["Dx Principal Cod"].unique()) 
# Al ser tan grande, se codificará con un valor diferente para cada único, 
# pues algunos podrian presentarse mas o tener mas peso

2434

In [11]:
encoder=ps.LabelEncoder()
df2["Dx Principal Cod"]=encoder.fit_transform(df2["Dx Principal Cod"])

Ahora esto nos ha entregado las 2400 enfermedades en numeros en vez de códigos, se evaluará posteriormente la viabilidad de hacerlo de esta manera, ya que supone un peso importante en la matriz de correlaciones.

Para los diagnósticos secundarios se pondrá un 1 en caso de existir uno, y un 0 en caso de que no, se sumarán posteriormente en una única variable.

In [12]:
varabiesl = ['Dx Relacionado3 Cod', 'Dx Relacionado2 Cod ', 'Dx Relacionado1 Cod']

def ifnostringis0(aver):
    if isinstance(aver,str):
        return 1
    else:
        return 0
df2[varabiesl] = df2[varabiesl].applymap(ifnostringis0)
df2['Dx Relacionado3 Cod'].unique()
df2['DxRelacionados'] = df2['Dx Relacionado3 Cod'] + df2['Dx Relacionado1 Cod'] + df2['Dx Relacionado2 Cod ']
df2 = df2.drop(columns=['Dx Relacionado3 Cod', 'Dx Relacionado1 Cod', 'Dx Relacionado2 Cod ', 'Dx Principal Cod.1', "Profesional Especialidad"])
df2['DxRelacionados'].unique()

C:\Users\ADMH2\AppData\Local\Temp\ipykernel_36068\2403177839.py:8: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df2[varabiesl] = df2[varabiesl].applymap(ifnostringis0)

array([0, 1, 2, 3], dtype=int64)

In [13]:
df["Mes"].unique()

array(['ENERO', 'FEBRERO', 'MARZO', 'ABRIL', 'MAYO', 'JUNIO', 'JULIO',
       'AGOSTO', 'SEPTIEMBRE', 'OCTUBRE', 'NOVIEMBRE', 'DICIEMBRE'],
      dtype=object)

In [14]:
meses = ['ENERO', 'FEBRERO', 'MARZO', 'ABRIL', 'MAYO', 'JUNIO', 'JULIO','AGOSTO', 'SEPTIEMBRE', 'OCTUBRE', 'NOVIEMBRE', 'DICIEMBRE']
codificacion = {j:i+1 for i,j in enumerate(meses)}
df2["Mes"].replace(codificacion, inplace = True)

C:\Users\ADMH2\AppData\Local\Temp\ipykernel_36068\399413001.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2["Mes"].replace(codificacion, inplace = True)
C:\Users\ADMH2\AppData\Local\Temp\ipykernel_36068\399413001.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2["Mes"].replace(codificacion, inplace = True)

In [15]:
confecha = ["Urg Fecha Ingreso", 'Urg Fecha Triaje', 'Urg Fecha Consulta F3']
def todoASegundos(datetaim):
    try:
        datetaim = datetaim[11:19].split(':')
        segundos = int(datetaim[0])*3600+int(datetaim[1])*60+int(datetaim[2])
        return segundos
    except TypeError:
        return 0

df2[confecha] = df2[confecha].applymap(todoASegundos)
df2[confecha]

C:\Users\ADMH2\AppData\Local\Temp\ipykernel_36068\2211830499.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df2[confecha] = df2[confecha].applymap(todoASegundos)

       Urg Fecha Ingreso  Urg Fecha Triaje  Urg Fecha Consulta F3
0                  52589             51814                  55153
1                  66727             66281                  71011
2                  40756                 0                  61549
3                  38449             37045                  43540
4                  72274             72038                  73021
...                  ...               ...                    ...
36663                  0             10841                  13016
36664                  0              7847                  12244
36665                  0             33812                  35849
36666                  0             40942                  43845
36667                  0             46461                  51471

[36668 rows x 3 columns]

In [16]:
df["Dx Principal Tipo "].unique()

array(['NUEVO', 'REPETIDO'], dtype=object)

In [17]:
df2["Dx Principal Tipo "].replace({'NUEVO': 1, 'REPETIDO': 0}, inplace=True)

C:\Users\ADMH2\AppData\Local\Temp\ipykernel_36068\1481903230.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2["Dx Principal Tipo "].replace({'NUEVO': 1, 'REPETIDO': 0}, inplace=True)
C:\Users\ADMH2\AppData\Local\Temp\ipykernel_36068\1481903230.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2["Dx Principal Tipo "].replace({'NUEVO': 1, 'REPETIDO': 0}, inplace=True)

In [18]:
df["ALTO COSTO"].unique() # PARA ESTE SE PONDRÁ 1 SI ES STRING Y 0 SI NO, 
#YA QUE SI ES STRING ES UNA ENFERMEDADE DE ALTO COSTO
df2["ALTO COSTO"] = df2["ALTO COSTO"].apply(ifnostringis0)

In [19]:
df["Paciente Sexo"].unique()

array(['FEMENINO', 'MASCULINO'], dtype=object)

In [20]:
df2["Paciente Sexo"].replace({'FEMENINO': 0, 'MASCULINO': 1}, inplace=True)

C:\Users\ADMH2\AppData\Local\Temp\ipykernel_36068\928752363.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2["Paciente Sexo"].replace({'FEMENINO': 0, 'MASCULINO': 1}, inplace=True)
C:\Users\ADMH2\AppData\Local\Temp\ipykernel_36068\928752363.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2["Paciente Sexo"].replace({'FEMENINO': 0, 'MASCULINO': 1}, inplace=True)

Ahora se ejecutarán todas las que se hagan con one-hot-encoding

In [21]:
df2 = pd.get_dummies(df2, columns=["Paciente Modalidad Contrato", "Paciente Regimen Afiliacion", "Grupo Edad"])
df2

,DESCRIPCION,Mes,Tipo Egreso (INTERNACION),Paciente Entidad Responsable Pago,Urg Fecha Ingreso,Urg Fecha Triaje,Urg Fecha Consulta F3,Minutos (Camara - F3),Urg Demora1 Consulta (Minutos),Urg Demora Triaje (Minutos)\r\n,...,Grupo Edad_5-9,Grupo Edad_50-54,Grupo Edad_55-59,Grupo Edad_60-64,Grupo Edad_65-69,Grupo Edad_70-74,Grupo Edad_75-79,Grupo Edad_80-84,Grupo Edad_85-89,Grupo Edad_> 90
0,1,1,1,5,52589,51814,55153,65.133333,35.133333,9.466667,...,False,False,False,True,False,False,False,False,False,False
1,1,1,1,65,66727,66281,71011,82.050000,52.050000,3.216667,...,False,False,False,True,False,False,False,False,False,False
2,1,1,0,48,40756,0,61549,0.000000,0.000000,0.000000,...,False,False,False,False,False,False,True,False,False,False
3,1,1,0,19,38449,37045,43540,116.850000,86.850000,8.600000,...,False,False,False,False,False,True,False,False,False,False
4,0,1,1,48,72274,72038,73021,21.450000,21.450000,5.083333,...,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36663,1,12,1,65,0,10841,13016,50.133333,20.133333,13.883333,...,False,False,False,False,False,False,False,False,False,False
36664,1,12,0,4,0,7847,12244,0.000000,0.000000,0.000000,...,False,False,False,False,False,False,False,False,True,False
36665,1,12,1,18,0,33812,35849,40.900000,10.900000,6.950000,...,False,True,False,False,False,False,False,False,False,False
36666,1,12,1,18,0,40942,43845,0.000000,0.000000,0.000000,...,False,True,False,False,False,False,False,False,False,False
36667,1,12,1,48,0,46461,51471,90.266667,60.266667,6.766667,...,False,True,False,False,False,False,False,False,False,False

In [22]:
j = 0
for i in [i for i in df2.columns.tolist()]:
    if df2[i].dtype == object:
        print(i)
        j+=1
print(j)

Unidad
Clasificacion 1 Triaje
Enfermeria
Ubicacion  Urgencias
Causa Externa  (Riesgo)
Ubicación Triaje
Tiempo Duracion Diligenciamiento F3
Triaje Re-clasificado
Grupo Poblacional
Pertenencia Etnica
9

In [23]:
df["Unidad"].unique()

array(['AÑOS', 'MESES', 'DÍAS'], dtype=object)

In [25]:
df2 = df2.drop(columns=['Unidad'])

In [30]:
df2["Clasificacion 1 Triaje \r\nEnfermeria "].unique()

array(['TRIAJE 3', 'NO APLICA', 'TRIAJE 2', 'TRIAJE 1', 'TRIAJE 4',
       'TRIAJE 5'], dtype=object)

Para esta variables es conveniente hacer un onehot enconding

In [31]:

df2 = pd.get_dummies(df2, columns=["Clasificacion 1 Triaje \r\nEnfermeria "])
df2

,DESCRIPCION,Mes,Tipo Egreso (INTERNACION),Paciente Entidad Responsable Pago,Urg Fecha Ingreso,Urg Fecha Triaje,Urg Fecha Consulta F3,Minutos (Camara - F3),Urg Demora1 Consulta (Minutos),Urg Demora Triaje (Minutos)\r\n,...,Grupo Edad_75-79,Grupo Edad_80-84,Grupo Edad_85-89,Grupo Edad_> 90,Clasificacion 1 Triaje \r\nEnfermeria _NO APLICA,Clasificacion 1 Triaje \r\nEnfermeria _TRIAJE 1,Clasificacion 1 Triaje \r\nEnfermeria _TRIAJE 2,Clasificacion 1 Triaje \r\nEnfermeria _TRIAJE 3,Clasificacion 1 Triaje \r\nEnfermeria _TRIAJE 4,Clasificacion 1 Triaje \r\nEnfermeria _TRIAJE 5
0,1,1,1,5,52589,51814,55153,65.133333,35.133333,9.466667,...,False,False,False,False,False,False,False,True,False,False
1,1,1,1,65,66727,66281,71011,82.050000,52.050000,3.216667,...,False,False,False,False,False,False,False,True,False,False
2,1,1,0,48,40756,0,61549,0.000000,0.000000,0.000000,...,True,False,False,False,True,False,False,False,False,False
3,1,1,0,19,38449,37045,43540,116.850000,86.850000,8.600000,...,False,False,False,False,False,False,False,True,False,False
4,0,1,1,48,72274,72038,73021,21.450000,21.450000,5.083333,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36663,1,12,1,65,0,10841,13016,50.133333,20.133333,13.883333,...,False,False,False,False,False,False,False,True,False,False
36664,1,12,0,4,0,7847,12244,0.000000,0.000000,0.000000,...,False,False,True,False,False,False,False,True,False,False
36665,1,12,1,18,0,33812,35849,40.900000,10.900000,6.950000,...,False,False,False,False,False,False,False,True,False,False
36666,1,12,1,18,0,40942,43845,0.000000,0.000000,0.000000,...,False,False,False,False,False,False,False,True,False,False
36667,1,12,1,48,0,46461,51471,90.266667,60.266667,6.766667,...,False,False,False,False,False,False,False,True,False,False

In [33]:
df["Ubicacion  Urgencias"].unique()

array(['OBSERVACION', 'ALTA', 'XPRESS', 'HOSPITALIZACION'], dtype=object)

In [34]:
df2 = df2.drop(columns=['Ubicacion  Urgencias'])

In [42]:
j = 0
for i in [i for i in df2.columns.tolist()]:
    if df2[i].dtype == object:
        print(i)
        j+=1
print(j)

Ubicación Triaje
Tiempo Duracion Diligenciamiento F3
Triaje Re-clasificado
Grupo Poblacional
Pertenencia Etnica
5

In [35]:
df["Causa Externa  (Riesgo)"].unique()

array(['ENFERMEDAD GENERAL', 'ACCIDENTE DE TRANSITO',
       'ACCIDENTE DE TRABAJO', 'OTRO TIPO DE ACCIDENTE',
       'ACCIDENTE RÁBICO', 'ENFERMEDAD PROFESIONAL', 'OTRA',
       'LESIÓN POR AGRESIÓN', 'SOSPECHA ABUSO SEXUAL'], dtype=object)

In [37]:
df2 = pd.get_dummies(df2, columns=["Causa Externa  (Riesgo)"])
df2

,DESCRIPCION,Mes,Tipo Egreso (INTERNACION),Paciente Entidad Responsable Pago,Urg Fecha Ingreso,Urg Fecha Triaje,Urg Fecha Consulta F3,Minutos (Camara - F3),Urg Demora1 Consulta (Minutos),Urg Demora Triaje (Minutos)\r\n,...,Clasificacion 1 Triaje \r\nEnfermeria _TRIAJE 5,Causa Externa (Riesgo)_ACCIDENTE DE TRABAJO,Causa Externa (Riesgo)_ACCIDENTE DE TRANSITO,Causa Externa (Riesgo)_ACCIDENTE RÁBICO,Causa Externa (Riesgo)_ENFERMEDAD GENERAL,Causa Externa (Riesgo)_ENFERMEDAD PROFESIONAL,Causa Externa (Riesgo)_LESIÓN POR AGRESIÓN,Causa Externa (Riesgo)_OTRA,Causa Externa (Riesgo)_OTRO TIPO DE ACCIDENTE,Causa Externa (Riesgo)_SOSPECHA ABUSO SEXUAL
0,1,1,1,5,52589,51814,55153,65.133333,35.133333,9.466667,...,False,False,False,False,True,False,False,False,False,False
1,1,1,1,65,66727,66281,71011,82.050000,52.050000,3.216667,...,False,False,False,False,True,False,False,False,False,False
2,1,1,0,48,40756,0,61549,0.000000,0.000000,0.000000,...,False,False,False,False,True,False,False,False,False,False
3,1,1,0,19,38449,37045,43540,116.850000,86.850000,8.600000,...,False,False,False,False,True,False,False,False,False,False
4,0,1,1,48,72274,72038,73021,21.450000,21.450000,5.083333,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36663,1,12,1,65,0,10841,13016,50.133333,20.133333,13.883333,...,False,False,False,False,True,False,False,False,False,False
36664,1,12,0,4,0,7847,12244,0.000000,0.000000,0.000000,...,False,False,False,False,True,False,False,False,False,False
36665,1,12,1,18,0,33812,35849,40.900000,10.900000,6.950000,...,False,False,True,False,False,False,False,False,False,False
36666,1,12,1,18,0,40942,43845,0.000000,0.000000,0.000000,...,False,False,True,False,False,False,False,False,False,False
36667,1,12,1,48,0,46461,51471,90.266667,60.266667,6.766667,...,False,False,False,False,True,False,False,False,False,False

In [36]:
df["Ubicación Triaje"].unique()

array(['TRAUMA', 'CONSULTORIO 1', 'XPRESS', 'CONSULTORIO PEDIATRIA',
       'UDEA', 'SAI ADULTO', 'CONSULTORIO 2', 'CONSULTORIO 1 MAGISTERIO',
       'CONSULTORIO ONCOLOGIA', 'CONSULTORIO 4', 'TAMIZAJE COVID',
       'CONSULTORIO 3'], dtype=object)

In [43]:
df2 = pd.get_dummies(df2, columns=["Ubicación Triaje"])
df2

,DESCRIPCION,Mes,Tipo Egreso (INTERNACION),Paciente Entidad Responsable Pago,Urg Fecha Ingreso,Urg Fecha Triaje,Urg Fecha Consulta F3,Minutos (Camara - F3),Urg Demora1 Consulta (Minutos),Urg Demora Triaje (Minutos)\r\n,...,Ubicación Triaje_CONSULTORIO 2,Ubicación Triaje_CONSULTORIO 3,Ubicación Triaje_CONSULTORIO 4,Ubicación Triaje_CONSULTORIO ONCOLOGIA,Ubicación Triaje_CONSULTORIO PEDIATRIA,Ubicación Triaje_SAI ADULTO,Ubicación Triaje_TAMIZAJE COVID,Ubicación Triaje_TRAUMA,Ubicación Triaje_UDEA,Ubicación Triaje_XPRESS
0,1,1,1,5,52589,51814,55153,65.133333,35.133333,9.466667,...,False,False,False,False,False,False,False,True,False,False
1,1,1,1,65,66727,66281,71011,82.050000,52.050000,3.216667,...,False,False,False,False,False,False,False,False,False,False
2,1,1,0,48,40756,0,61549,0.000000,0.000000,0.000000,...,False,False,False,False,False,False,False,False,False,True
3,1,1,0,19,38449,37045,43540,116.850000,86.850000,8.600000,...,False,False,False,False,False,False,False,False,False,False
4,0,1,1,48,72274,72038,73021,21.450000,21.450000,5.083333,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36663,1,12,1,65,0,10841,13016,50.133333,20.133333,13.883333,...,False,False,False,False,False,False,False,False,False,False
36664,1,12,0,4,0,7847,12244,0.000000,0.000000,0.000000,...,False,False,True,False,False,False,False,False,False,False
36665,1,12,1,18,0,33812,35849,40.900000,10.900000,6.950000,...,False,False,False,False,False,False,False,True,False,False
36666,1,12,1,18,0,40942,43845,0.000000,0.000000,0.000000,...,False,False,False,False,False,False,False,False,False,True
36667,1,12,1,48,0,46461,51471,90.266667,60.266667,6.766667,...,False,False,False,False,False,False,False,False,False,False

In [51]:
df["Tiempo Duracion Diligenciamiento F3"]

0        18:48
1        18:55
2            0
3        30:32
4         5:41
         ...
36663    22:27
36664      NaN
36665    10:48
36666      NaN
36667    38:17
Name: Tiempo Duracion Diligenciamiento F3, Length: 36668, dtype: object

LA variable anterior requiere un manejo diferente, al ser un tiempo expresado como "MM:SS" es decir minutos:segundos, y significar el tiempo de duración de cierto proceso, es conveniente convertirlo a segundo

In [52]:

def convertir_a_segunditos(tiempito):
    if pd.isnull(tiempito) or ':' not in tiempito:
        return None
    else:
        try:
            minutos, segs = map(int, tiempito.split(':'))
            return minutos * 60 + segs
        except ValueError:
            return None

# aplicando
df2['Tiempo Duracion Diligenciamiento F3 en seg'] = df2['Tiempo Duracion Diligenciamiento F3'].apply(convertir_a_segunditos)

df2.drop(columns=['Tiempo Duracion Diligenciamiento F3'], inplace=True)
df2

,DESCRIPCION,Mes,Tipo Egreso (INTERNACION),Paciente Entidad Responsable Pago,Urg Fecha Ingreso,Urg Fecha Triaje,Urg Fecha Consulta F3,Minutos (Camara - F3),Urg Demora1 Consulta (Minutos),Urg Demora Triaje (Minutos)\r\n,...,Ubicación Triaje_CONSULTORIO 3,Ubicación Triaje_CONSULTORIO 4,Ubicación Triaje_CONSULTORIO ONCOLOGIA,Ubicación Triaje_CONSULTORIO PEDIATRIA,Ubicación Triaje_SAI ADULTO,Ubicación Triaje_TAMIZAJE COVID,Ubicación Triaje_TRAUMA,Ubicación Triaje_UDEA,Ubicación Triaje_XPRESS,Tiempo Duracion Diligenciamiento F3 en seg
0,1,1,1,5,52589,51814,55153,65.133333,35.133333,9.466667,...,False,False,False,False,False,False,True,False,False,1128.0
1,1,1,1,65,66727,66281,71011,82.050000,52.050000,3.216667,...,False,False,False,False,False,False,False,False,False,1135.0
2,1,1,0,48,40756,0,61549,0.000000,0.000000,0.000000,...,False,False,False,False,False,False,False,False,True,NaN
3,1,1,0,19,38449,37045,43540,116.850000,86.850000,8.600000,...,False,False,False,False,False,False,False,False,False,1832.0
4,0,1,1,48,72274,72038,73021,21.450000,21.450000,5.083333,...,False,False,False,True,False,False,False,False,False,341.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36663,1,12,1,65,0,10841,13016,50.133333,20.133333,13.883333,...,False,False,False,False,False,False,False,False,False,1347.0
36664,1,12,0,4,0,7847,12244,0.000000,0.000000,0.000000,...,False,True,False,False,False,False,False,False,False,NaN
36665,1,12,1,18,0,33812,35849,40.900000,10.900000,6.950000,...,False,False,False,False,False,False,True,False,False,648.0
36666,1,12,1,18,0,40942,43845,0.000000,0.000000,0.000000,...,False,False,False,False,False,False,False,False,True,NaN
36667,1,12,1,48,0,46461,51471,90.266667,60.266667,6.766667,...,False,False,False,False,False,False,False,False,False,2297.0

In [53]:
df["Triaje Re-clasificado"].unique()

array(['NO', 'SI'], dtype=object)

In [54]:
df2['Triaje Re-clasificado'] = df2['Triaje Re-clasificado'].replace({'NO': 0, 'SI': 1})

C:\Users\ADMH2\AppData\Local\Temp\ipykernel_36068\552999706.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2['Triaje Re-clasificado'] = df2['Triaje Re-clasificado'].replace({'NO': 0, 'SI': 1})

In [56]:

df2.drop(columns=['Grupo Poblacional', 'Pertenencia Etnica'], inplace=True)

In [57]:
j = 0
for i in [i for i in df2.columns.tolist()]:
    if df2[i].dtype == object:
        print(i)
        j+=1
print(j)

0

GUARDAMOS EL DATAFRAME

In [59]:

df2.to_csv('../BD_ParaModelos.csv', index=False)

SEGUIMOS CON EL PROCESO DE MODELADO

1. METRICAS DE EVALUACION:
Exactitud (Accuracy)
Precisión (Precision)
Recuperación (Recall o Sensibilidad)
Puntuación F1 (F1 Score)
AUC-ROC (Área bajo la curva de características operativas del receptor)
Matriz de confusión
Curva ROC (Receiver Operating Characteristic)

Principalmente se analizaran el accuracy y la matriz de confusion

2. METODOS SUPERVISADOS